<h1>CodeTrend</h1>

<p>
    Trying to pick between two technologies?  Compare their trends and make sure you pick a winner!
</p>

<p>
    <%= link_to 'Browse Technologies', technologies_path %>
</p>

