// Place all the styles related to the Technologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
    max-height: 600px;
    max-width: 90%;
}

.uibox {
    margin: 20px 0;
}


.tech-comparison-ugc {
    float: left;
    max-width: 50%;
    min-width: 280px;
    margin: 0 10px 25px;
}
