<h1>Listing technologies</h1>

<ul>
<% @technologies.each do |technology| %>
  <li>
    <%= link_to technology.name, technology %>
  </li>
<% end %>
</ul>

<%= paginate @technologies %>
<br />

<br />

<%= link_to 'New Technology', new_technology_path %>
