<p id="notice"><%= notice %></p>

<p>
  <b>Technology:</b>
  <%= @technology.name %>
</p>

<script>
    var url = "<%= metrics_technology_path(@technology) %>.json";
    chart_from_data_url(url);
</script>

<div id="chart">
<div class="note">Loading chart data...</div>
<svg></svg>
</div>

<%= link_to 'Back', technologies_path %>
